{% extends 'base.html' %} {%block body%}

    <!-- Back To Top Button -->
    <a href="#top" class="backtotop">
      <span>Back To Top</span>
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Scroll progress -->
    <div class="scroll-progress">
      <div class="sp-left">
        <div class="sp-inner"></div>
        <div class="sp-inner progress"></div>
      </div>
      <div class="sp-right">
        <div class="sp-inner"></div>
        <div class="sp-inner progress"></div>
      </div>
    </div>

    <!-- Fullpage content -->
    <div class="ln-fullpage" data-navigation="true">

      <!-- Section - Home -->
      <section class="ln-section d-flex min-vh-100" data-anchor="home" data-tooltip="Home" data-ui="light" data-navbar="navbar-dark">
        <div class="overlay overlay-advanced">
          <div class="overlay-inner bg-image-holder bg-cover bg-bottom-center">
            <img src="assets/images/logo.png" alt="background">
          </div>
          <div class="overlay-inner bg-dark opacity-70"></div>
        </div>
        <div class="container align-self-center text-white">
        <div class="container align-self-xl-center">

          <div class="row">
            <div class="col-12 col-xl-5 mb-8 mb-xl-0">
              <img src="/assets/images/icon/logo.png" data-animation="fadeInUp"/>
              <h2 class="animated mb-4" data-animation="fadeInUp">Fishappy0</h2>
              <div class="pb-3 row" data-animation="fadeInUp">
                <div class="pl-3">Page Source</div>
                <div class="pl-3">More detail about me</div>
              </div>
              <p class="animated" data-animation="fadeInUp" data-animation-delay="150"><span>Hi, welcome to my page! I'm a Viet bloke that enjoys tinkering with anything, especially cutting-edge technologies.</span></p>
            </div>
            <div class="col-12 col-xl-6 offset-xl-1">
              <div class="row">

                <div class="col-md-6 col-sm-6 mb-8 animated" data-animation="fadeInUp">
                  <h3 class="h4 mb-0">Stuff I'm using</h3>
                  <div class="pt-5 icon-7x text-primary mb-4">
                    <i class="ti-timer"></i>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 mb-8 animated" data-animation="fadeInUp" data-animation-delay="150">
                  <h3 class="h4 mb-0">More stuff that I use</h3>
                  <div class="pt-5 icon-7x text-primary mb-4">
                    <i class="ti-brush-alt"></i>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 mb-8 animated" data-animation="fadeInUp" data-animation-delay="300">
                </div>
                <div class="col-md-6 col-sm-6 mb-8 animated" data-animation="fadeInUp" data-animation-delay="300">
                </div>
                <div class="col-md-6 col-sm-6 mb-8 animated" data-animation="fadeInUp" data-animation-delay="300">
                  <h3 class="h4 mb-0">Contact me!</h3>
                  <div class="pt-5 icon-7x text-primary mb-4">
                    <i class="ti-book"></i>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 mb-8 animated" data-animation="fadeInUp" data-animation-delay="450">
                  <h3 class="h4 mb-0">My projects!</h3>
                  <div class="pt-5 icon-7x text-primary mb-4">
                    <i class="ti-layers"></i>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

{%endblock%}
